<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Meta Tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="EcKoncept Photography Website">
    <meta name="keywords" content="HTML,CSS,Bootstrap,JavaScript">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Title -->
    <title>Ec Koncept</title>

    <!-- Bootstrap CSS and font-awesome -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">
    <!-- Main CSS -->
    <link href="/css/main.css" rel="stylesheet">
    <link href="/css/animate.css" rel="stylesheet">


    <!-- Google Fonts -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,300,400,500,500i,700" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <!-- Return to Top -->
    <a href="javascript:" id="return-to-top"><i class="fa fa-arrow-up" aria-hidden="true"></i></a>
    <!-- Header Section Start -->
    <header>
        <!-- Container Section Start -->
        <div class="container">
            <!-- Row Start -->
            <div class="row">
                <!-- First column Start -->
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <a href="https://www.template.net/editable/websites" target="_blank"><p></p></a>
                </div>
                <!-- Second column Start -->
                <div class="col-xs-12 col-sm-4 col-md-4" style="margin-top:-10px;">
                    <a class="logo" href="/home/index"><img src="/images/logo/logo.jpg" alt="logo" width="70" height="60"></a>
                </div>
                <!-- Third column Start -->
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="social-icons">
                        <a href="#"><i class="fa fa-facebook-square" aria-hidden="true" style="color:#0072bc;font-size: 20px;"></i></a>
                        <a href="#"><i class="fa fa-twitter-square" aria-hidden="true" style="color:#00adef;font-size: 20px;"></i></a>
                        <a href="#"><i class="fa fa-youtube-square" aria-hidden="true" style="color:#ed1c24;font-size: 20px;"></i></a>
                        <a href="#"><i class="fa fa-instagram" aria-hidden="true" style="color:#f99d1c;font-size: 20px;"></i></a>
                    </div>
                </div>
            </div>
            <!-- Row Ended -->
        </div>
        <!-- Container Section Ended -->
    </header>
    <!-- Header Section Ended -->
    <!-- Navbar Section Start -->
    <nav id="navbar">
        <!-- Container Section Start -->
        <div class="container">
            <!-- navbar-toggle -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <i class="fa fa-bars" aria-hidden="true" style="color:white;"></i>
            </button>
            <div class="collapse navbar-collapse" id="myNavbar">

                <ul class="nav navbar-nav navbar-center">
                    <li><a class="active" href="/home/portraits">Portraits</a></li>
                    <li class="hidden-xs">-</li>
                    <li><a href="/home/makeup">Makeup</a></li>
                    <li class="hidden-xs">-</li>
                    <li><a href="/home/portfolio">Portfolio</a></li>
                    <li class="hidden-xs">-</li>
                    <li><a href="/home/photography">Photography</a></li>
                    <li class="hidden-xs">-</li>
                    <li><a href="/home/Videography">Videography</a></li>
                    <li class="hidden-xs">-</li>
                    <li><a href="/home/street">Branding</a></li>
                    <li class="hidden-xs">-</li>
                    <li><a href="/home/event">Event</a></li>
                    <li class="hidden-xs">-</li>
                    <li><a href="/home/Graphics">Graphics</a></li>
                    <li class="hidden-xs">-</li>
                    <li><a href="/home/printpub">Printing/Publishing</a></li>

                </ul>
            </div>
        </div>
        <!-- Container Section Ended -->
    </nav>
    <!-- Navbar Section Ended -->
    @RenderBody()
    
    <!-- Footer Section Start -->

    <footer>

        <!-- Footer Links -->
        <div class="container text-md-left">
            <div class="row">

                <!-- First column -->
                <div class="col-sm-6 col-md-3">
                    <a href="index.html"><img src="/images/logo/logo.jpg" width="70" height="60" alt="logo"></a>
                    <p>.<span><a href="#" target="_blank">EcKoncept</a></span> <span><a></a></span></p>
                </div>
                <!-- First column -->
                <!--Second column-->
                <div class="col-sm-6 col-md-3 mx-auto">
                    <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Our office address</h5>
                    <address>
                        No 43, Oghosa Crescent, Off Oba Eweka Street, Off Ihama Road, Gra, Oredo Lga, GRA Benin City, Edo State, Nigeria<br /><br />
                        +2348133708327<br /><a href="#" target="_blank">EcKoncept@gmail.com</a>.<br />
                    </address>
                </div>
                <!-- Second column -->
                <!-- Third column -->
                <div class="col-sm-6 col-md-2 mx-auto">
                    <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Site Links</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="/home/index">Home</a>
                        </li>
                        <li>
                            <a href="/home/aboutus">About Us</a>
                        </li>
                        <li>
                            <a href="/home/Photography">Photography</a>
                        </li>
                        <li>
                            <a href="/home/blog">blog</a>
                        </li>
                        <li>
                            <a href="/home/careers">Careers</a>
                        </li>
                        <li>
                            <a href="/home/Contactus">Contact Us</a>
                        </li>
                    </ul>
                </div>
                <!-- Third column -->
                <!-- Fourth column -->
                <div class="col-sm-6 col-md-4">
                    <h5 class="text-uppercase mb-4 mt-3 font-weight-bold">Quick Contact</h5>
                    <form>
                        <ul class="list-unstyled">
                            <li class="row">
                                <div class="col-md-6">
                                    <input required type="text" class="form-control" placeholder="Name">
                                </div>
                                <div class="col-md-6">
                                    <input required type="text" class="form-control" placeholder="Email">
                                </div>
                            </li>
                            <li class="row">
                                <div class="col-md-12">
                                    <textarea required class="form-control massage" placeholder="Your Message" rows="5" id="comment"></textarea>
                                </div>
                            </li>
                            <li class="row">
                                <div class="col-md-12">
                                    <button type="submit" class="btn btn-default">Contact us</button>
                                </div>
                            </li>
                        </ul>
                    </form>
                </div>
                <!-- Fourth column -->
            </div>
        </div>
        <!-- Footer Links -->

    </footer>
    <!-- Footer Section Ended -->
    <!-- jQuery (plugins) -->
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/javascript.js"></script>
    <script src="/js/animate.js"></script>

</body>
</html>
