
@{
    ViewData["Tittle"] = "Index";
}

<!-- Banner Section Start -->
<section class="jumbotron" style="height: 290px; margin-bottom: 62px;padding-top: 95px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 inner-contant">
                <h1 data-aos="zoom-in" data-aos-duration="500">About us</h1>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section Ended -->
<div class="about">
    <div class="container">
        <div class="row">
            <div class="col-md-12" data-aos="fade-up" data-aos-duration="500">
                <div class="/image"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="about-contant">
                    <p data-aos="fade-up" data-aos-duration="500">
                     EcKoncept is a leading photography company in Nigeria. 
                    </p>
                    <p data-aos="fade-up" data-aos-duration="500">
                        We are located in the heart of benin city, Edo state.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
