
@{
    ViewData["Title"] = "Index";
}


!-- Blog Section Start -->
<section id="blog-page" style="padding-top: 40px;">
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12">
                <h3 class="heading1">Season Greetings <span class="break">From all of us at EcKoncept</span></h3>
                <figure>
                    <img class="image" src="~/images/blog/15.jpg" alt="Our year of abundance">
                </figure>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6">
                <h4>December 23, 2016 Posted by <span style="color: #c5b503">OSOM</span> In :<span style="color: #2d8c3a"> Fashion</span></h4>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6">
                <ul class="social-links">
                    <li style="background-color: #3b5998;" data-aos="zoom-in" data-aos-duration="1200">
                        <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a><span>1.2m</span>
                    </li>
                    <li style="background-color: #55acee;" data-aos="zoom-in" data-aos-duration="1200">
                        <a href=""><i class="fa fa-twitter" aria-hidden="true"></i></a><span>448.6k</span>
                    </li>
                    <li style="background-color: #cb2027;margin: 0;" data-aos="zoom-in" data-aos-duration="1200">
                        <a href=""><i class="fa fa-pinterest-p" aria-hidden="true"></i></a><span>111.7k</span>
                    </li>
                </ul>
            </div>
        </div>
        <hr>
    </div>
    <!-- Container Ended -->
    <!-- Container Start -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="inner-contant" style="padding-top: 30px; padding-bottom: 20px; ">
                    <p data-aos="fade-up" data-aos-duration="1000">
                       Welcome to EcKoncept Blog Page
                    </p>
                    <p data-aos="fade-up" data-aos-duration="1000">
                        Welcome<a href="#">many beautiful</a> Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interes Welcom y personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interesting people around the world, this website is my mirror of life.
                    </p>
                    <h6 class="pg3" data-aos="fade-up" data-aos-duration="1000">
                        Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful...e  world, this website is my mirror of life. Welcome to my personal travel blog, the globe, i have been to so many beautiful...
                    </h6>

                    <p data-aos="fade-up" data-aos-duration="1000">
                        Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interesting people around the world, this website is my mirror of life.
                    </p>
                    <p data-aos="fade-up" data-aos-duration="1000">
                        Welcome nal travel blog, i love to travel the globe, i have been to so <a href="#">many beautiful</a> Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interes Welcom y personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interesting people around the world, this website is my mirror of life.
                    </p>
                    <p data-aos="fade-up" data-aos-duration="1000">
                        Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful...e  world, this website is my mirror of life. Welcome to my personal travel blog, the globe, i have been to so many beautiful...
                    </p>

                    <p data-aos="fade-up" data-aos-duration="1000">
                        Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interesting people around the world, this website is my mirror of life.
                    </p>
                    <p data-aos="fade-up" data-aos-duration="1000">
                        Welcome nal travel blog, i love to travel the globe, i have been to so <a href="#">many beautiful</a> Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interes Welcom y personal travel blog, i love to travel the globe, i have been to so many beautiful places and met interesting people around the world, this website is my mirror of life.
                    </p>
                    <p data-aos="fade-up" data-aos-duration="1000">
                        Welcome to my personal travel blog, i love to travel the globe, i have been to so many beautiful...e  world, this website is my mirror of life. Welcome to my personal travel blog, the globe, i have been to so many beautiful...
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </div>
    <!-- Container Ended -->
    <!-- Container Start -->
    <div class="container">
        <h3 class="heading2">Your May Also Like These</h3>
        <!-- Row Start-->
        <div class="row" style="padding-bottom: 85px;">
            <div class="col-xs-12 col-sm-4 col-md-4" style="margin-bottom: 15px;" data-aos="fade-right" data-aos-duration="1500">
                <img src="~/images/blog/E7.jpg" alt="blog" class="img-responsive">
                <div class="carousel-caption">
                    <a href="blog-page.html" class="btn btn-info" role="button">Benin</a>
                    <a href="blog-page.html"><h5>Happy Birthday Princess</h5></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4" style="margin-bottom: 15px;" data-aos="zoom-in" data-aos-duration="1500">
                <img src="~/images/blog/F4.jpg" alt="blog" class="img-responsive">
                <div class="carousel-caption">
                    <a href="blog-page.html" class="btn btn-info" role="button">Benin</a>
                    <a href="blog-page.html"><h5>A vintage love story.</h5></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4" style="margin-bottom: 15px;" data-aos="fade-left" data-aos-duration="1500">
                <img src="~/images/blog/F3.jpg" alt="blog" class="img-responsive">
                <div class="carousel-caption">
                    <a href="blog-page.html" class="btn btn-info" role="button">Lagos</a>
                    <a href="blog-page.html"><h5>Testimony night with youngest Land view.</h5></a>
                </div>
            </div>
        </div>
    </div>
    <!-- Container Ended -->
</section>