@{
    ViewData["Title"] = "Index";
}

<!-- Career Section Start -->
<section id="career">
    <!-- Container Start -->
    <div class="container">

        <!-- First Row Start -->
        <div class="row">
            <div class="col-xs-12 col-sm-3">
                <img class="img-responsive career-img" src="~/images/portfolio/17.jpg" alt="" data-aos="flip-left" data-aos-duration="1000">
            </div>
            <div class="col-xs-12 col-sm-9">
                <div class="contant" data-aos="fade-up" data-aos-duration="1000">
                    <h3>Need a Wedding Photographer?</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
        </div>
        <!-- First Row Ended -->
        <!-- Second Row Start -->
        <div class="row">
            <div class="col-sm-3">
                <img class="img-responsive career-img" src="~/images/portfolio/M.jpg" alt="" data-aos="flip-right" data-aos-duration="1000">
            </div>
            <div class="col-sm-9">
                <div class="contant" data-aos="fade-up" data-aos-duration="1000">
                    <h3>Need a makeup artist?</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
        </div>
        <!-- Second Row Ended -->
        <!-- Third Row Start -->
        <div class="row">
            <div class="col-sm-3">
                <img class="img-responsive career-img" src="/images/portfolio/career-3.jpg" alt="" data-aos="flip-left" data-aos-duration="1000">
            </div>
            <div class="col-sm-9">
                <div class="contant" data-aos="fade-up" data-aos-duration="1000">
                    <h3>Needed a Wedding Photographer</h3>
                    <p>
                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
                    </p>
                </div>
            </div>
        </div>
        <!-- Third Row Ended -->
    </div>
    <!-- Container Ended -->
</section>
<!-- Career Section Ended -->