
@{
    ViewData["Title"] = "Index";
}

!-- Banner Section Start -->
<section class="jumbotron" style="height: 290px; margin-bottom: 62px;padding-top: 95px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 inner-contant">
                <h1 data-aos="zoom-in" data-aos-duration="1000">Check Our Blog</h1>
            </div>
        </div>
    </div>
</section>

<!-- Blog Section Start -->
<section id="blog-page">
    <div class="container">
        <!-- Row Start-->
        <div class="row" style="padding-bottom: 25px;">
            <div class="col-xs-12 col-sm-4 col-md-4 " data-aos="fade-right" data-aos-duration="2000">
                <img src="~/images/blog/15.jpg" alt="test" class="img-responsive">
                <div class="carousel-caption">
                    <a href="blog-page.html" class="btn btn-info" role="button">Benin</a>
                    <a href="blog-page.html"><h5>Compliment of the season from EcKoncept.</h5></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 " data-aos="fade-right" data-aos-duration="2000">
                <img src="~/images/blog/F.jpg" alt="test" class="img-responsive">
                <div class="carousel-caption">
                    <a href="blog-page.html" class="btn btn-info" role="button">Benin city</a>
                    <a href="blog-page.html"><h5>Our Winner of the photo gram contest.</h5></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 " data-aos="fade-right" data-aos-duration="2000">
                <img src="~/images/blog/F1.jpg" alt="test" class="img-responsive">
                <div class="carousel-caption">
                    <a href="blog-page.html" class="btn btn-info" role="button">Lagos</a>
                    <a href="blog-page.html"><h5>Spot our logo on the banner at Youngest LandLord show in Lagos.</h5></a>
                </div>
            </div>
        </div>
        <!-- Row Start-->
        <div class="row" style="padding-bottom: 30px;">
            <div class="col-xs-12 col-sm-4 col-md-4 " data-aos="fade-left" data-aos-duration="2000">
                <img src="~/images/blog/E7.jpg" alt="test" class="img-responsive">
                <div class="carousel-caption">
                    <a href="blog-page.html" class="btn btn-info" role="button">Benin</a>
                    <a href="blog-page.html"><h5>Eliana turns 1</h5></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 " data-aos="fade-left" data-aos-duration="2000">
                <img src="~/images/blog/E8.jpg" alt="test" class="img-responsive">
                <div class="carousel-caption">
                    <a href="blog-page.html" class="btn btn-info" role="button">Benin</a>
                    <a href="blog-page.html"><h5>Caption this.</h5></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 " data-aos="fade-left" data-aos-duration="2000">
                <img src="~/images/blog/E16.jpg" alt="test" class="img-responsive">
                <div class="carousel-caption">
                    <a href="blog-page.html" class="btn btn-info" role="button">Abuja</a>
                    <a href="blog-page.html"><h5>Sealed with a kiss forever</h5></a>
                </div>
            </div>
        </div>
        <!-- Row Start-->
        <div class="row" style="padding-bottom: 25px;">
            <div class="col-xs-12 col-sm-4 col-md-4 " data-aos="fade-right" data-aos-duration="2000">
                <img src="~/images/blog/E21.jpg" alt="test" class="img-responsive">
                <div class="carousel-caption">
                    <a href="blog-page.html" class="btn btn-info" role="button">California</a>
                    <a href="blog-page.html"><h5>The squad Endurance and Eric.</h5></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 " data-aos="fade-right" data-aos-duration="2000">
                <img src="~/images/blog/E18.jpg" alt="test" class="img-responsive">
                <div class="carousel-caption">
                    <a href="blog-page.html" class="btn btn-info" role="button">Benin</a>
                    <a href="blog-page.html"><h5>Bride and groom sqauad</h5></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 " data-aos="fade-right" data-aos-duration="2000">
                <img src="~/images/blog/F3.jpg" alt="test" class="img-responsive">
                <div class="carousel-caption">
                    <a href="blog-page.html" class="btn btn-info" role="button">Benin</a>
                    <a href="blog-page.html"><h5>Opa Williams, Obino Music, Maleke Idowu were present at testimony night.</h5></a>
                </div>
            </div>
        </div>
        <!-- Row Start-->
        <div class="row" style="padding-bottom: 80px;">
            <div class="col-xs-12 col-sm-4 col-md-4 " data-aos="fade-left" data-aos-duration="2000">
                <img src="~/images/blog/F6.jpg" alt="test" class="img-responsive">
                <div class="carousel-caption">
                    <a href="blog-page.html" class="btn btn-info" role="button">Benin</a>
                    <a href="blog-page.html"><h5>Dance time</h5></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 " data-aos="fade-left" data-aos-duration="2000">
                <img src="/images/blog/F4.jpg" alt="test" class="img-responsive">
                <div class="carousel-caption">
                    <a href="blog-page.html" class="btn btn-info" role="button">Benin</a>
                    <a href="blog-page.html"><h5>Happy Married Life</h5></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-4 col-md-4 " data-aos="fade-left" data-aos-duration="2000">
                <img src="~/images/blog/F5.jpg" alt="test" class="img-responsive">
                <div class="carousel-caption">
                    <a href="blog-page.html" class="btn btn-info" role="button">Benin </a>
                    <a href="blog-page.html"><h5>Happy anniversary to us at EcKoncept.</h5></a>
                </div>
            </div>
        </div>
        <div class="row bt">
            <div class="col-sm-12">
                <ul>
                    <li><a class="active" href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">5</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section Ended -->