
@{
    ViewData["Title"] = "Index";
}

<!-- Jumbotron Section Start -->
<section class="jumbotron">
    <div class="container">
        <!-- Row Start -->
        <div class="row">
            <div class="col-md-12 inner-contant" data-aos="zoom-in" data-aos-duration="500">
                <h1>Hello! we are Ec Koncept</h1>
                <h3>a photography agency</h3>
                <p>an experienced photography people to serve any projects!</p>
            </div>
        </div>
        <!-- Row Ended -->
    </div>
</section>
<!-- Jumbotron Section Ended -->
<!-- Portfolio Section Start -->

<section class="portfolio">
    <!-- Container-fluid Start -->
    <div class="container-fluid">
        <div class="row" style="z-index: 999; position: relative; margin-top: -107px;padding-bottom: 60px;">
            <button class="active btn btn-default filter-button" data-filter="all">All</button>
            <button class="btn btn-default filter-button" data-filter="portrait">portrait</button>
            <button class="btn btn-default filter-button" data-filter="Birthday">Birthday</button>
            <button class="btn btn-default filter-button" data-filter="Pre-wedding">Pre-Wedding</button>
            <button class="btn btn-default filter-button" data-filter="wedding">wedding</button>
        </div>

        <!-- Row Start -->
        <div class="row">
            <!-- Main_portfolio_content Start -->
            <div class="main_portfolio_content">
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter  portrait">
                    <div>
                        <img src="~/images/portfolio/3.jpg" class="img-responsive" alt="image-1" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>
                                people on tracks <br>
                                <span>Food & Diet  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i></a> (23)</span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter Birthday">
                    <div>
                        <img src="~/images/portfolio/E3.jpg" class="img-responsive" alt="image-2" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>
                                people on tracks <br>
                                <span>Food & Diet  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i></a> (23)</span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter wedding">
                    <div>
                        <img src="~/images/portfolio/2.jpg" class="img-responsive" alt="image-3" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>
                                people on tracks <br>
                                <span>Food & Diet  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter  portrait">
                    <div>
                        <img src="/images/portfolio/E1.jpg" class="img-responsive" alt="image-4" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>
                                people on tracks <br>
                                <span>Food & Diet  -<a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter portrait">
                    <div>
                        <img src="~/images/portfolio/12.jpg" class="img-responsive" alt="image-5" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>
                                people on tracks <br>
                                <span>Food & Diet  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter wedding ">
                    <div>
                        <img src="~/images/portfolio/18.jpg" class="img-responsive" alt="image-6" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>
                                people on tracks <br>
                                <span>Food & Diet  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter wedding">
                    <div>
                        <img src="~/images/portfolio/1.jpg" class="img-responsive" alt="image-7" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>
                                people on tracks <br>
                                <span>Food & Diet  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter Pre-Wedding">
                    <div>
                        <img src="~/images/portfolio/6.jpg" class="img-responsive" alt="image-8" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>
                                people on tracks <br>
                                <span>Food & Diet  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter   portrait">
                    <div>
                        <img src="~/images/portfolio/6.jpg" class="img-responsive" alt="image-9" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>
                                people on tracks <br>
                                <span>Food & Diet  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter Birthday">
                    <div>
                        <img src="~/images/portfolio/E6.jpg" class="img-responsive" alt="image-10" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>
                                people on tracks <br>
                                <span>Food & Diet  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter weddings">
                    <div>
                        <img src="~/images/portfolio/9.jpg" class="img-responsive" alt="image-11" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>
                                people on tracks <br>
                                <span>Food & Diet  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter Pre-Wedding">
                    <div>
                        <img src="~/images/portfolio/E5.jpg" class="img-responsive" alt="image-12" />
                        <div class="portfolio_images_overlay text-center">
                            <h6>
                                people on tracks <br>
                                <span>Food & Diet  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                            </h6>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Main_portfolio_content Ended -->
        </div>
        <!-- Row Ended -->
    </div>
    <!-- Container-fluid Ended -->
</section>
<!-- Portfolio Section Ended -->
<!-- Contact Section Start -->
<section id="services">
    <!-- Container Start -->
    <div class="container">

        <!-- First Row Start -->
        <div class="row service-1" data-aos="fade-up" data-aos-duration="500">
            <div class="col-xs-12 col-sm-12  col-md-9">
                <h2>Got an event in mind?</h2>
                <h3>We are here to serve you in photography, just call us!</h3>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-3">
                <a href="contactus" class="btn btn-default">contact us</a>
                @Html.ActionLink("Contact us", "contactus", "home")
            </div>
        </div>
        <!-- First Row Ended -->
        <!-- Second Row Start -->
        <div class="row service-2">
            <div class="col-md-12" data-aos="fade-up" data-aos-duration="500">
                <h2>What we serve you?</h2>
                <p>we have vaste range of photography services to serve</p>
            </div>
        </div>
        <!-- Second Row Ended -->

        <div class="service-3" data-aos="fade-right" data-aos-duration="500">
            <!-- First Row Start -->
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="col-1">
                        <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <h5>Studio Portraits</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="col-1">
                        <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <h5>Videography</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="col-1">
                        <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <h5>Printing/Publishing</h5>
                    </div>
                </div>
            </div>
            <!-- First Row Ended -->
            <!-- Second Row Start -->
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="col-1">
                        <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <h5>Graphics</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="col-1">
                        <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <h5>Pre Weddings</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="col-1">
                        <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <h5>Drone Photo</h5>
                    </div>
                </div>
            </div>
            <!-- Second Row Ended -->
            <!-- Third Row Start-->
            <div class="row">
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="col-1">
                        <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <h5>Makeup Studio</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="col-1">
                        <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <h5>Weddings</h5>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-4 col-md-4">
                    <div class="col-1">
                        <span class="icon"><i class="fa fa-check" aria-hidden="true"></i></span>
                        <h5>Branding</h5>
                    </div>
                </div>
            </div>
            <!-- Third Row Ended-->
        </div>
    </div>
    <!-- Container Ended -->
</section>
<!-- Contact Section Ended -->
<!-- Blog Section Start -->
<section id="blog">
    <div class="container">
        <h3 class="margin" data-aos="fade-up" data-aos-duration="500">Read latest blog posts</h3><br>
        <div class="row" style="margin-bottom: 97px;">
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="post1" data-aos="zoom-in-right" data-aos-duration="1000">
                    <a href="/blog-page." class="btn btn-info pg2" role="button">California</a>
                    <a href="/blog-page"><h2>Beautiful road like waterfall in the california of south most beautiful view.</h2></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4">
                <div class="post2" data-aos="zoom-in" data-aos-duration="1000">
                    <a href="/blog-page." class="btn btn-info pg2" role="button">Everest</a>
                    <a href="/blog"><h2>Wonderful Mount everest of india, beautiful scene.</h2></a>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-4" data-aos="zoom-in-left" data-aos-duration="1000">
                <div class="post3">
                    <a href="/blog" class="btn btn-info pg2" role="button">south whales</a>
                    <a href="/blog"><h2>My first and good under water photo shoot of whales in south africa.</h2></a>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Section Ended -->
<!-- Subscribe Section Start -->
<section id="Subscribe" data-aos="fade-up" data-aos-duration="500">
    <div class="container text-center" style="padding: 0 20px;">
        <div>
            <div class="row">
                <div class="col-md-12">
                    <h2>Subscribe to newsletter</h2>
                    <h3>we will send you worlds best photographs, monthly</h3>
                </div>
            </div>
            <form class="form row" method="post" action="/home/subscribe">
                <div class="form-group">
                    <input required type="text" class="form-control" id="name" placeholder="your name" name="name">
                </div>
                <div class="form-group">
                    <input required type="email" class="form-control" id="email" placeholder="your email id" name="email">
                </div>
                <button type="submit" value="subscribe" class="btn btn-default">Subscribe</button>
            </form>
        </div>
    </div>
</section>
<!-- Subscribe Section Ended -->