
@{
    ViewData["Title"] = "Index";
}

<!-- Banner Section Start -->

<section class="jumbotron" style="height: auto; margin-bottom: 62px;padding-top: 95px;">
    <div class="container">
        <div class="row">
            <div class="col-md-12 inner-contant" style="padding-bottom: 0;">
                <h1 data-aos="zoom-in" data-aos-duration="1000">Printing/publication</h1>
            </div>
        </div>
    </div>
</section>
<!-- Banner Section Ended -->
<!-- Portfolio Section Start -->
<section class="printing/publication">
    <div class="container-fluid">
        <div class="row" style="padding-bottom: 60px;">
            <button class="active btn btn-default filter-button" data-filter="all">All</button>
            <button class="btn btn-default filter-button" data-filter="portarits">Jotters</button>
            <button class="btn btn-default filter-button" data-filter="landscapes">fliers</button>
            <button class="btn btn-default filter-button" data-filter="fashion">Banners</button>
            <button class="btn btn-default filter-button" data-filter="weddings">Cards</button>
        </div>
        <div class="row">
            <div class="main_portfolio_content">
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter portarits">
                    <img src="/images/portfolio/image-1.jpg" class="img-responsive" alt="image-1" />
                    <div class="portfolio_images_overlay text-center">
                        <h6>
                            people on tracks <br>
                            <span>Jotters - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i></a> (23)</span>
                        </h6>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter landscapes">
                    <img src="/images/portfolio/image-2.jpg" class="img-responsive" alt="image-2" />
                    <div class="portfolio_images_overlay text-center">
                        <h6>
                            people on tracks <br>
                            <span>Fliers  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i></a> (23)</span>
                        </h6>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter fashion weddings">
                    <img src="/images/portfolio/image-3.jpg" class="img-responsive" alt="image-3" />
                    <div class="portfolio_images_overlay text-center">
                        <h6>
                            people on tracks <br>
                            <span>Banners  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                        </h6>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter portarits fashion">
                    <img src="/images/portfolio/image-4.jpg" class="img-responsive" alt="image-4" />
                    <div class="portfolio_images_overlay text-center">
                        <h6>
                            people on tracks <br>
                            <span>Food & Diet  -<a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                        </h6>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter landscapes portarits">
                    <img src="/images/portfolio/image-5.jpg" class="img-responsive" alt="image-5" />
                    <div class="portfolio_images_overlay text-center">
                        <h6>
                            people on tracks <br>
                            <span>Food & Diet  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                        </h6>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter weddings landscapes">
                    <img src="/images/portfolio/image-6.jpg" class="img-responsive" alt="image-6" />
                    <div class="portfolio_images_overlay text-center">
                        <h6>
                            people on tracks <br>
                            <span>Cards  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                        </h6>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter weddings">
                    <img src="/images/portfolio/image-7.jpg" class="img-responsive" alt="image-7" />
                    <div class="portfolio_images_overlay text-center">
                        <h6>
                            people on tracks <br>
                            <span>Food & Diet  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                        </h6>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter fashion">
                    <img src="/images/portfolio/image-8.jpg" class="img-responsive" alt="image-8" />
                    <div class="portfolio_images_overlay text-center">
                        <h6>
                            people on tracks <br>
                            <span>Food & Diet  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                        </h6>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter portarits">
                    <img src="/images/portfolio/image-1.jpg" class="img-responsive" alt="image-9" />
                    <div class="portfolio_images_overlay text-center">
                        <h6>
                            people on tracks <br>
                            <span>Food & Diet  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                        </h6>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter landscapes">
                    <img src="/images/portfolio/image-2.jpg" class="img-responsive" alt="image-10" />
                    <div class="portfolio_images_overlay text-center">
                        <h6>
                            people on tracks <br>
                            <span>Food & Diet  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                        </h6>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter weddings">
                    <img src="/images/portfolio/image-3.jpg" class="img-responsive" alt="image-11" />
                    <div class="portfolio_images_overlay text-center">
                        <h6>
                            people on tracks <br>
                            <span>Food & Diet  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                        </h6>
                    </div>
                </div>
                <div class="gallery_product col-md-3 col-sm-4 col-xs-6 filter fashion">
                    <img src="/images/portfolio/image-4.jpg" class="img-responsive" alt="image-12" />
                    <div class="portfolio_images_overlay text-center">
                        <h6>
                            people on tracks <br>
                            <span>Food & Diet  - <a href="#"><i class="fa fa-comment" aria-hidden="true" style="color: white;"></i> </a> (23)</span>
                        </h6>
                    </div>
                </div>
            </div>
            <div class="load-more">
                <button class="btn btn-default">load<br>more</button>
            </div>
        </div>
    </div>
</section>
<!-- Portfolio Section Ended -->